body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

#container {
    max-width: 1000px;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.title {
    width: 30%;
    height: 100%;
    font-size: 20px;
    line-height: 60px;
    float: left;
}

.title p {
    font-family: 'Revalia';
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
}

/* Next Sections */

.partOne {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid black;
    transition: 0.5s ease;
}

.wrapper {
    background-image: url(brain.png);
    background-size: cover;
}

.questions {
    width: auto;
    height: 350px;
    float: right;
    margin-right: 10%;
}

.question {
    width: 290px;
    height: 20%;
    margin-top: 0%;
    color: #fff;
    border-radius: 5px;
    font-family: 'PT Sans';
    font-size: 25px;
    line-height: 70px;
    background-color: black;
    border: 3px solid white;
    transition: 0.7s ease;
}

.question:nth-child(2) {
    margin-top: 24%;
}

.question:nth-child(3) {
    margin-top: 24%;
}

.question p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.question:hover {
    background-color: white;
    color: black;
}

.answer {
    width: 450px;
    float: left;
    color: white;
    font-family: 'PT Sans';
    font-size: 25px;
    line-height: 40px;
    margin-left: 10px;
    height: 370px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid white;
    transition: 0.5s ease;
}

.answer p {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
    margin-top: 50px;
}

.partTwo {
    width: 100%;
    height: 180px;
    background-color: #fff;
    font-family: 'PT Sans';
    margin-bottom: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid black;
}

.headerTitle {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
    margin-left: 5px;
}

.box {
    width: 100%;
    height: 3px;
    margin: 0;
    background-color: black;
}

.twoInfo {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.partTwo:nth-child(3) {
    height: auto;
    padding-bottom: 5px;
}

.partTwo:nth-child(4) {
    height: auto;
    padding-bottom: 5px;
}

.ansOne {
    display: none;
}

.ansTwo {
    display: none;
}

.ansThree {
    display: none;
}

.active {
    background-color: white;
    color: black;
}

.ansOne, .ansTwo, .ansThree {
    font-size: 17px;
}

.answer img {
    border-radius: 12px;
    border: 3px solid white;
}

.img1 {
    width: 200px;
    margin-left: 120px;
}

.img2 {
    display: none;
    width: 400px;
    margin-left: 20px;
}

.img3 {
    display: none;
    width: 300px;
    margin-left: 70px;
}

.img4 {
    display: none;
    width: 400px;
    margin-left: 20px;
}

.widther {
    height: 850px;
}

.increase {
    height: 770px;
}

.widtherer {
    height: 750px;
}

.increaseer {
    height: 670px;
}

.widthererer {
    height: 750px;
}

.increaseerer {
    height: 670px;
}